.peliculas{
	background-color: white;	
}

.peliculas-Titulo{
	font-weight: bold;
    margin-left: 15px;
}

.sombra{
	background: url(../img/billboard-shadow.png) repeat-x left top;
    padding-top: 15px;
}

#divCheckCrear{
	margin-bottom: 10px;	
}

.detallesPelicula{
	    padding-left: 33px;
}

.detallesPelicula .col-md-9{
	    max-width: 72%;
}

.imagenTrailer {
	width:250px;
	height:250px;
 }

 .addPelicula{
 	margin-top: 10px;
	margin-right: 25px;
	margin-bottom: 10px;
	background-color: #21CE5C;
	color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 20px;
	border: #0DAB43 2px solid;
	cursor: pointer;
}

.addPelicula span{
	margin-top: 6px;
	margin-left: 1px;
	font-size: 20px;
}

.hide{
	display: none;
}
.btn-AltaModificacion{
	cursor: pointer;
	display: inline;
}

/*.contenedorPelicula{
    margin:1%;
}*/

.avatar{
	background: #fff;  	
  	margin-left: 1%;
  	display: inline-block;
  	cursor: pointer;
  	margin-bottom: 5px;
}

.avatar-content{
	display: inline-block;
	background-color: #0084B4;
  	border-radius: 12px;
  	height: 333px;
    width: 220px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}

.imagen-avatar{
  	border-radius: 12px;
 	height: 333px;
    width: 220px;
  	display: block;
  	transition: 2.5s;
  	border: .1em lightgray solid;
  	box-shadow: 0 .5em .5em;
}

.file-imagen{
	margin-left: 5px;
	margin-top: 10px;
	cursor: pointer;
    margin-bottom: 11px;
}

.uploadImagen{
	margin-right: 15px;
}

.btn-imagen{
	margin-top: 5px;
	display: inline;
	cursor: pointer;
	margin-bottom: 10px;
}

.btn-AltaModificacion{
	cursor: pointer;
	display: inline;
}

.icon{
	margin-top: 50%;
	text-align: center;
	color: white;
    font-size: 70px;
    width: 100%;
}

.avatar-content p{
	margin-left: 40px;
	text-align: center;
	width: 130px;
	font-weight: bold;
	line-height:18px;
	font-size: 20px;
}

.text-descripcion{
	resize: none;
}

.iconCerrar{
	width: 15px;
	height: 15px;
	cursor: pointer;
	color: silver;
	margin-right: 5px;
	margin-bottom: 5px;
}

.lapiz{
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #28B1D2;
	color: white;
	width: 40px;
	height: 40px;
	text-align: center;
	vertical-align: center;
	border-radius: 20px;
	border: #0981B7 2px solid;
	cursor: pointer;
}

.lapiz span{
	margin-top: 5px;
	font-size: 20px;
}

.cruz {
    background-color: #FF3B04;
    border: #B70909 2px solid;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.cruz span{
	margin-top: 7px;
	font-size: 20px;
}

#barra_de_progreso{
    margin-top: 7px;
}

textarea.form-control {
    height: auto;
}

.text-descripcion {
    resize: none;
}

.iconoError{
    right: 2%;
}