.botonAzul {
	width:30px; 
	height:30px; 
	text-align:center;
	padding:6px 0; 
	font-size:12px; 
	border-radius:15px; 
	background-color:darkslateblue;
}

.botonRojo {
	 width:30px; 
	 height:30px; 
	 text-align:center;
	 padding:6px 0; 
	 font-size:12px; 
	 border-radius:15px; 
	 background-color:red;
}

.botonVerde {
     width:30px; 
	 height:30px; 
	 text-align:center;
	 padding:6px 0; 
	 font-size:12px; 
	 border-radius:15px; 
	 background-color:green;
}

.botonNegro {
	 width:30px; 
	 height:30px; 
	 text-align:center;
	 padding:6px 0; 
	 font-size:12px; 
	 border-radius:15px; 
	 background-color:black;
}

.textoBoton {
  color:white;

}

.tablaSala{
    width:75%; 
}

.rowHide{
    display: none;
}


.popUp {
   z-index:2;
   position:absolute;
   border: 1px solid #333333;
   text-align:center;
   background:#000000;
}