.esquemaSala{
	padding-bottom: 12px;
	padding-left: 49px;
    padding-right: 51px;
    margin-bottom: 10px;
}

.divBotonButacas{
	height: 57px;
}

.divButacas{
	background-color:white; 
	margin: 10%;
}

.divLeyendaButacas{
	background-color:white; 
	margin-top: 30%;
}

.divPantalla{
	width:80%; 
	margin:5%;
}

.divColumnaSala{
	display:inline-block;
	margin:3px;
}

.tituloLarge {
   font-size:large;
}