.divLeyendaButacas{
	background-color:white; 
	margin-top: 25%;
}

.esquema{
    margin:5%;
    width: 60%;
}

.esquema.tr.td{    
    margin:5%;
    width: 10px;
}

.centrar{
    text-align:  center;
}
