.contenedorPeliculas {
	padding-left: 0px;
    padding-right: 0px;
}

.divForm{
    background-color: white;
    border-radius: 5px;
}

.menuFiltros {
    background-color: #D00809;
    border: 2px solid white;
    height: 88px;
    margin-bottom: 12px;
}

.menuFiltros button {
    margin-right: 15px;
    margin-top: 35px;
    height: 36px;
	background-color: #213969;
    border-color: #213969
}

.filtro{
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    width: 15%;
}

.filtro select{
    width: 100%;
    display:  inline-block;
}

.filtro label{
    display: block;
    color: white;
}

.pelicula{
	height: 333px;
    width: 220px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-box-shadow:0px 1px 3px rgba(0,0,0,.15);
    -moz-box-shadow:0px 1px 3px rgba(0,0,0,.15);
    box-shadow:0px 1px 3px rgba(0,0,0,.15);
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    transition:all .2s ease-out;
      
    /*transform-style: preserve-3d;
    position: absolute;
    transition: all 0.3s ease-out;
    backface-visibility: hidden;
    transform: rotateY(0deg);*/
}


.pelicula:hover{
    -webkit-box-shadow:0px 5px 20px rgba(0,0,0,.3);
    -moz-box-shadow:0px 5px 20px rgba(0,0,0,.3);
    box-shadow:0px 5px 20px rgba(0,0,0,.3);
    margin-top:-5px
}

.formIngresar{
    margin-top: 10px;   
    padding: 10px;     
}

.remember {
	margin-top: 5px;
  	margin-bottom: 0px;
  	font-size: 12px;
}

.margenTextbox{
  margin-top: 10px;
}

button.margenTextbox{
  margin-left: 5px;
}

.detallesPelicula{
	    padding-left: 33px;
}
.detallesPelicula .col-md-9{
	    max-width: 72%;
}
.imagenPelicula img{
   
}
.titulo{
	
    font-size: 21px;
        color: white;
    font-weight: bold;
    }
.trailer{
	float: right;
}
.trailer iframe{
	width : 340px;
	height: 210px;
}
.descripcionPelicula{
	font-weight: bold;
}
.fichaTecnica{
	margin-top: 8px;
}
.fichaTecnica  p{
	padding-left: 10px;
    font-size: 13px;
}
.panel-group .panel+.panel {
     margin-top: 0px;
}
.panel.panel-default.col-md-3{
	padding-right: 0px;
    padding-left: 0px;
}
.compraPelicula{
	padding-bottom: 12px;
	padding-left: 49px;
    padding-right: 51px;
    margin-bottom: 10px;
}
.opcionSeleccionada{
	background: rgba(128, 128, 128, 0.43);
}
.btn-seleccionado{
	margin-top: -4px;
	background-color: #259216;
    color: white;
}	
.divBotonButacas{
	height: 57px;
}
#qrCode {
	text-align:center;
}


#tablaResumenCompra table{
	max-width:50%;
	margin: auto;
	text-align:center;
}



