.paginaCompra{
	background-color: white;
	margin-bottom: 20px;	
	margin-top: 15px;
    margin-bottom: 20px;
    
}

.path{
	margin-left: 15px;
	font-size: 15px;
    font-family: HelveticaNeueLtCond, 'Arial Narrow', Arial;
    padding: 16px 0;
    color: #2B6CAF;
}

.path div{
	display:  inline;
}

.poster{
	margin-bottom: 20px;
	padding: 0;
	background-color: white;
}

.datosPelicula{
	background-color: #ECECEC;
	color: #565655;	
	margin-top: 30px;	
}

.tituloDato{
	display: block;
	margin-top: 10px;
}

.datos{
	margin-bottom: 10px;
	display: inline-block;
}

.sombra{
	background: url(../img/billboard-shadow.png) repeat-x left top;
    padding-top: 15px;
}

.tablaTitulo{
    color: #2B6CAF;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

.columnaEntradas{
	width: 40%;
}	

.columnaEntradas img{
	margin-left: 5%;
	margin-right: 10px;
}	
.columnaEntradaDescripcion{
  text-align:  center;
}	

thead tr th{
	text-align:  center;
}

.comboCantidad{
	width: 70px;
	margin-left: 35%;
}

.columnaCantidad{
	width: 20%;
}

.columnaPrecio{
	width: 10%;
	text-align: center;
}

.filaImpar{
	background-color: #E8E8E8;
}

.filaPar{
	background-color: white;
}

.dato-PrecioTotal{
	background-color: #86bc26;
    font-weight: bold;
    color: #fff;
}

.datos-Compra{
	padding-left: 30%;
	margin-bottom: 10px;
}

.btn-opcion{
	display: inline-block;
	background-color: #86bc26;
    font-weight: bold;
    color: #fff;
    width: 156px;
    height: 36px;
    text-align: center;
    vertical-align: center;
    margin-right: 10px;
}

.btn-opcion span{
	line-height: 36px;
}

.confirmarOperacion{
	background-color: white;
	
}

.confirmarOperacion form{
	margin-top: 10px;
}

.precioTotal{
	font-family: HelveticaNeueBoldCond, 'Arial narrow', Arial;
    font-size: 20px;
    color: #565655;
    line-height: 36px;
    padding-left: 30%;
    font-weight: bold;
    display: inline-block;
	margin-right: 10px;
}

.btn-Confirmar{
	background-color: #86bc26;
	border-color: #86bc26;
	margin-bottom: 10px;
	margin-right: 20px;
}

.select-Mes{
	width: 66px;
	margin-right: 10px;
	display: inline-block;
}

.select-Anio{
	width: 82px;
	margin-right: 10px;
	display: inline-block;
}

.input-datosCompra{
	width: 70%;
	display: inline-block;
}

.centrar{
	text-align: center;
}

.icon{
	right: 20%;
}

.iconoError{
	right: 2%;
}

#contenedorQR > * {
    display: block;
}

#contenedorQR {
    display: inline-block;
   	vertical-align: middle;
   	margin-left: 10px;
   	margin-bottom: 10px;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
}

#imgCodigo{
	margin-bottom: 10px;
}

#frmBuscarVenta{
	margin-top: 20px;
	margin-left: 20%;
	margin-bottom: 20px;
}

#frmRecoverPass{
	margin-top: 20px;
	margin-left: 20%;
	margin-bottom: 20px;
}

#spanTitulo{
	font-weight:bold;
	color:#286cb4;
	text-align:center;
	font-size: 20px;
}

#btnImprimir{
	margin-right: 20px;
}

.contenedor-reloj{
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.relojTitulo{
	font-weight: bold;
	font-size: 17px;
}

.reloj{
	font-weight: bold;
    width: 100%;
    height: 100px;    
    font-size: 4em;
    color: #707070;
    position: relative;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    border-top: 5px solid #7CB0FC;
    background-image: linear-gradient(#f0f0f0, white);

}

.dash {
    width: 110px;
    height: 114px;
    background: transparent url('../images/dash.png') 0 0 no-repeat;
    float: left;
    margin-left: 20px;
    position: relative;
}

.dash .digit {
    font-size: 55pt;
    font-weight: bold;
    float: left;
    width: 55px;
    text-align: center;
    font-family: Times;
    color: #555;
    position: relative;
}