.botonVerde {
     width:30px; 
	 height:30px; 
	 text-align:center;
	 padding:6px 0; 
	 font-size:12px; 
	 border-radius:15px; 
	 background-color:green;
}

.botonAzul {
	width:30px; 
	height:30px; 
	text-align:center;
	padding:6px 0; 
	font-size:12px; 
	border-radius:15px; 
	background-color:darkslateblue;
}

.botonRojo {
	 width:30px; 
	 height:30px; 
	 text-align:center;
	 padding:6px 0; 
	 font-size:12px; 
	 border-radius:15px; 
	 background-color:red;
}


.textoBoton {
  color:white;

}