.table.table-condensed.table-hover.table-striped.bootgrid-table{
    background-color: white;
	border-radius: 9px;
 }
 
 #contenedorTabla
 {
	 border-radius: 7px;
    /* border-color: white; */
    /* border-width: 1px; */
    /* border-style: solid; */
    background-color: #f5f5f5;
	 
 }
#menuReportes{
    background-color: #f5f5f5;
    margin-bottom: 1px;
    border-radius: 7px;
}

#grid-basic_filter{
    margin-right: 10px;
    margin-top: 10px;
}

#grid-basic_length {
    margin-left: 10px;
    margin-top: 10px;
}