.butacas{
	background-color: white;
}

.path{
	margin-left: 15px;
	font-size: 15px;
    font-family: HelveticaNeueLtCond, 'Arial Narrow', Arial;
    padding: 16px 0;
    color: #2B6CAF;
}

.path div{
	display:  inline;
}

.oculta{
    visibility:hidden;
}

.esquema{
    margin:5%;
    width: 60%;
}

.esquema.tr.td{
    
    margin:5%;
    width: 10px;
}

.centrar{
    text-align:  center;
}