.butacas{
	background-color: white;
}

.path{
	margin-left: 15px;
	font-size: 15px;
    font-family: HelveticaNeueLtCond, 'Arial Narrow', Arial;
    padding: 16px 0;
    color: #2B6CAF;
}

.path div{
	display:  inline;
}

.oculta{
    visibility:hidden;
}

.esquema{
    margin:5%;
    width: 30%;
}

.esquema.tr.td{    
    margin:5%;
    width: 10px;
}

.centrar{
    text-align:  center;
}

.datosPelicula{
    background-color: #ECECEC;
    color: #565655; 
    margin-top: 30px;   
}

.tituloDato{
    display: block;
    margin-top: 10px;
}

.datos{
    margin-bottom: 10px;
    display: inline-block;
}

.sombra{
    background: url(../img/billboard-shadow.png) repeat-x left top;
    padding-top: 15px;
}